@model IEnumerable<Bem.Ef.Web.Models.Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PeopleListWithoutLayout</title>
</head>
<body>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.FirstName @item.LastName</li>
        }
    </ul>
</body>
</html>
