
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        Kullanici Adi:<input id="userName" type="text" name="userName" value="" /><br />
        Şifre:<input id="sifre" type="text" name="sifre" value="" /><br />
        <input id="Ok" type="button" name="Okey" value="Giriş" />

    </div>
    <div >
        <ul id="dersler">
            
        </ul>

    </div>
    
    <script src="~/Content/jquery-1.10.2.min.js"></script>
    <script>
        function dersleriGetir(lessons) {
            for (var i = 0; i < lessons.length; i++) {
                var lesson = lessons[i];
                var soruLi = $('<li></li>');
                soruLi.append(lesson.Name);

                soruLi.appendTo('#dersler');
                

            }

        }
        $('#Ok').on('click', function () {
            $.ajax({
                url: '/user/Lessons',
                method: 'POST',
                data: { UserName: $('#userName').val(), Sifre: $('#sifre').val() },
                success: function (d) {
                    dersleriGetir(d);
                    
                }
            });
            //window.location.href = '~/User/Lessons.cshtml';
        });

    </script>
</body>
</html>
