@using System.Data;
@using System.Data.SqlClient
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PeopleHaveItemListWithoutLayout</title>
</head>
<body>
    <div> 
        <ul>
            @{
                using (var sqlConn = new SqlConnection("Data Source=DESKTOP-S3O5AOR;Initial Catalog=Zimmet;Integrated Security=True"))
                {
                    var sqlCommand = new SqlCommand(@"SELECT * FROM Person AS p 
INNER JOIN PersonItem AS pe ON p.Id = pe.PersonId
WHERE pe.GivenDate is null", sqlConn);
                    sqlConn.Open();
                    var rdr = sqlCommand.ExecuteReader();

                    while (rdr.Read())
                    {
                        <li>@rdr["Name"] @rdr["LastName"] @rdr["IdentityNumber"] @rdr["BirthDate"]</li>
                    }
                }
            }
        </ul>
    </div>
</body>
</html>
